.main {
	position: absolute;
	top: 10%;
	display: grid;
	max-width: max(100vw, 500px);
	gap: 15px;
	/* min-height: calc(100vh - 54px); */
	background-color: rgb(236, 234, 234);
}

/* Media Queries */

@media screen and (min-width: 48em) {
	.main {
		top: 11%;
		padding: 0 7rem;
		grid-template-areas: 'Left Middle Right';
		grid-template-columns: 1.4fr 3fr 2fr;
		align-content: center;
		gap: 30px;
	}
}
