* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
.signInScreen {
	width: 100%;
}
.header__img {
	padding: 1.4rem 3.3rem;
}

.header__img h1 {
	font-weight: 100;
}
.header__img p {
	color: #00000099;
}
.form {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin: 0 auto;
}

.forEmail,
.forPassword {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 12px;
}

.forEmail input {
	height: 100%;
	padding: 25px 9px 10px;
	width: 100%;
	color: #00000099;
	font-size: 1.3rem;
	font-weight: 400;
	font-family: 'Times New Roman', Times, serif;
	outline: none;
}

.forEmail label {
	position: absolute;
	transform: translate(0, 15px) scale(1);
	margin-left: 10px;
	transform-origin: top left;
	transition: all 0.2s ease-in-out;
	font-size: 1.1rem;
	font-weight: 100;
	color: #00000099;
}

.forEmail:focus-within label {
	transform: translate(0, 8px) scale(0.8);
}

.email__phone:focus {
	border: 2px solid #2270be;
}

.forEmail .active__label {
	transform: translate(0, 8px) scale(0.8);
}

.forPassword input {
	height: 100%;
	padding: 25px 9px 10px;
	width: 100%;
	color: #00000099;
	font-size: 1.3rem;
	font-weight: 400;
	font-family: 'Times New Roman', Times, serif;
	outline: none;
}

.forPassword label {
	position: absolute;
	font-size: 16px;
	transform: translate(0, 15px) scale(1);
	margin-left: 10px;
	transform-origin: top left;
	transition: all 0.2s ease-in-out;
	font-size: 1.1rem;
	font-weight: 100;
	color: #00000099;
}

.forPassword span {
	position: absolute;
	top: 20%;
	left: 80%;
	color: #0a66c4;
	font-size: 1rem;
	padding: 5px 10px;
	border-radius: 3px;
	transition: all ease-in-out 200ms;
	cursor: pointer;
}

.forPassword span:hover {
	background-color: lightgray;
}
.forPassword:focus-within label {
	transform: translate(0, 8px) scale(0.8);
}

.password:focus {
	border: 2px solid #2270be;
}

.forPassword .active__label {
	transform: translate(0, 8px) scale(0.8);
}

.forgot {
	color: #000000;
	font-size: 1.1rem;
	font-weight: 100;
	cursor: pointer;
	letter-spacing: 1px;
}
.forgot:hover {
	color: #0a66c2;
	text-decoration: underline;
}

#signInBtn {
	padding: 1rem 0rem;
	background-color: #0073b1;
	color: #fff;
	border: none;
	font-size: 1rem;
	outline: none;
	border-radius: 30px;
	transition: all 250ms ease-in-out;
}
#signInBtn:hover {
	background-color: #034281;
}
.or {
	display: flex;
	width: 100%;
	align-items: center;
}
.or:before {
	content: '';
	height: 1px;
	width: 50%;
	background-color: #00000099;
}

.or:after {
	content: '';
	height: 1px;
	width: 50%;
	background-color: #00000099;
}

.or p {
	padding: 0px 5px;
}

.googleSignIn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0rem;
	border-radius: 30px;
	background-color: #fff;
	border: 0.5px solid #00000099;
	outline: none;
	transition: all 250ms ease-in-out;
}
.googleSignIn img {
	height: 25px;
}
.googleSignIn p {
	font-size: 1rem;
	font-weight: 100;
	color: #00000099;
	margin-left: 12px;
}
.googleSignIn:hover {
	background-color: rgb(216, 213, 213);
}

.register {
	display: flex;
	justify-content: center;
	gap: 5px;
	padding: 1.5rem 0;
	font-size: 1.05rem;
}

.register a {
	text-decoration: none;
	color: #0c61b6;
}

.foot {
	display: none;
}

/* Media Queries */

@media screen and (min-width: 45em) {
	.foot {
		display: block;
	}
	.section {
		box-sizing: border-box;
		height: calc(100vh - 5rem);
	}
	.form {
		max-height: 90%;
		padding: 1rem 1rem;
		width: 25%;
		gap: 16px;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
	}
}
