* {
	padding: 0;
	box-sizing: border-box;
	margin-top: 0;
}

.dark {
	position: fixed;
	background: #00000099;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}
.createPost {
	position: relative;
	background-color: #ffffff;
	top: 6%;
	width: 700px;
	height: 500px;
	max-height: 600px;
	border-radius: 15px;
}

.top__modal {
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(212, 210, 210);
	padding: 25px 25px;
}
.top__modal > h2 {
	font-weight: 500;
	color: #000000e6;
}
.top__modal > .cancel__icon {
	font-size: 25px;
	font-weight: 500;
	color: #00000099;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 5px 5px;
	margin-top: -5px;
	transition: ease-in-out 100ms;
	cursor: pointer;
}
.cancel__icon:hover {
	background-color: #f3ededd5;
}
.img__container1 {
	height: 65px;
	width: 63px;
	border-radius: 60%;
	background-color: lightgray;
}

.second__row {
	padding: 25px 25px;
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: 30px 40px;
}

.userName > h2 {
	font-size: 20px;
	color: #00000099;
}

.privacy__option {
	display: flex;
	padding: 8px 8px;
	border: solid 1px #00000099;
	width: 38%;
	justify-content: space-around;
	border-radius: 30px;
	color: #00000099;
	font-weight: 700;
	cursor: pointer;
	transition: ease-in-out 170ms;
}

.privacy__option:hover {
	background-color: #e2dfdf99;
	border: #000000e6 3px solid;
}

.second__row > .privacy__option {
	grid-column: 2;
}

.third__row {
	width: 100%;
	padding: 25px 25px;
	height: 200px;
	max-height: 300px;
	overflow-y: scroll;
	overflow: hidden;
}

.third__row .writePost {
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 22px;
	font-weight: 700;
	color: #00000099;
	line-height: 35px;
	resize: none;
}

::placeholder {
	font-size: 18px;
	font-weight: 600;
	color: #00000099;
}

.footer {
	position: absolute;
	padding: 13px 35px;
	top: 80%;
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

.icon__container {
	flex: 1;
	display: flex;
	justify-content: space-around;
	border-right: solid 1px hsla(0, 0%, 0%, 0.6);
	font-size: 25px;
	font-weight: 700;
	color: #00000099;
}

.post__btn {
	flex: 1;
	display: flex;
	padding: 0 10px;
	justify-content: space-between;
}

.post__btn > h3 {
	font-size: 20px;
	font-weight: 700;
	color: #00000099;
	margin-top: 8px;
}

.btn {
	padding: 8px 23px;
	cursor: pointer;
	border-radius: 30px;
	border: none;
	outline: none;
	color: #ffffff;
	background-color: #0a66c2;
}

.disabled__state {
	background-color: rgb(223, 223, 223);
	padding: 8px 23px;
	border: none;
	border-radius: 30px;
	outline: none;
}
.btn:hover {
	background-color: darkblue;
}
