* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cont1 {
	display: flex;
	justify-content: center;
	height: 68px;
}
.container1 {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	max-width: 1500px;
	width: 1450px;
	height: 100%;
	padding: -90px 15px;
}
.container > img {
	margin-left: 26px;
	width: 138px;
	height: 90px;
	cursor: pointer;
}

.signIn {
	display: flex;
	margin-top: 17px;
	width: 280px;
	height: 50px;
	justify-content: space-around;
	margin-right: 26px;
}

.signIn a {
	text-decoration: none;
}
.signIn > h2 {
	font-size: 21px;
	font-weight: 500;
}

.signIn :nth-child(1) {
	color: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 11px;
	text-align: center;
}

.signIn :nth-child(2) {
	border: #0a66c2 solid 1px;
	color: #0a66c2;
	border-radius: 24px;
	cursor: pointer;
	padding: 10px 24px;
	transition-duration: 167ms;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
}
.join__btn:hover {
	background-color: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.9);
}
.signIn__btn:hover {
	background-color: rgba(112, 181, 249, 0.15);
	color: #0a66c2;
}
